## The Login Problem:

Steve was trying to access his Gmail.

Absent mindedly he entered a wrong password and immediately Gmail informed him with a message that his password was wrong.

In this case Steve was entering the password in his computer.

His actual password is present in a database.

Gmail application comes in between the two and validates the entry.

<img src="db1.png">

## Need for DB programming:

In real life scenarios, the end user will not know anything about Database. 

We can't expect an end user to write queries to get his data from the Database.

In all applications like facebook, gmail, internet banking, whatsapp and so on, the application is what connects to the database, retrieves the data, operates on the data and finally gives meaningful information to the user.

<img src="db2.png">

The underlying language of the application can be anything, including Python! 

In this course we will take a look at how to write Python programs which will connect to a Database.

# Python database programming

Database programming with Python is very easy.

You just need 8 lines of code to insert a record into a database table from Python. 

Take a look!

In [ ]:
! pip install mysql-connector-python

In [2]:
import mysql.connector
config = {
  'user': 'bhanu',
  'password': 'infy123',
  'host': 'localhost',
  'database': 'Computer',
  'raise_on_warnings': True
}

In [ ]:
import mysql.connector
# import mysql.connector as mysqlconn
con = mysql.connector.connect(host = "localhost", user = "bhanu", passwd = "infy123", database = "database")
# con = mysqlconn.connect()
cur = con.cursor()
cur.execute( "INSERT INTO Computer VALUES (1005, 'Dell', 'Vostro', 2013)" )
print(cur.rowcount)
cur.close()
con.commit()
con.close()

Closer look at the earlier code reveals four major steps in connecting to a MySQL Database:

<img src="db3.png">

Let us see each of these steps in detail

## Establish a connection:

mysql-connector, a third party module for Python, allows us to connect to an MySQL Database from a Python program.

This module has many important classes and functions which help us connect to a MySQL database.

To use the module, we need to import it as:

In [ ]:
import mysql.connector

We use MySQL client to connect to MySQL database, 

similarly, we can make a Python program connect to a database.

The username, password, Server name/address and Database name are mentioned to establish a connection.

## Connecting to MySQL:

mysql-connector module has the connect method. 

Invoking the connect method by passing the connection credentials, server and database details, creates a connection object.

For example,

In [ ]:
con = mysql.connector.connect( host = "host", user = "username", passwd = "password", database = "database" )

The connection object is used to perform all operations with the database.

## Executing a query

To execute any type of query, we need to use the Cursor object.

The Cursor object in Python is different from the database cursor of PL/SQL.

It is created by invoking the cursor method of connection object.

Any query is executed by using the execute() method of the cursor object.

In [ ]:
cur = con.cursor()
cur.execute( "INSERT INTO Computer VALUES ( 100, 'Toshiba', 5688, 2013 )" )

The number of concurrent connections available to a database are finite and limited. 

If many connections to the database are kept open, database will run out of connections for other users.

Therefore at the end of all operations, the cursor and connection has to be closed.

This is done by using the close() method of the cursor object as well as connection object.

The syntax is as follows:

In [ ]:
cur.close()
con.close()

## Deleting records from a table

Any valid DML query can be written and executed through Python. For example,

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'localhost', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
cur.execute( 'DELETE FROM Computer WHERE CompId = 100' )
print(cur.rowcount)
cur.close()
con.close()

The cursor object has a rowcount attribute which is used to get the number of rows affected by the last query.

## Committing a transaction:

All DML statement transactions are not auto committed by default. 

Thus any DML operations done through Python will be lost once the connection is closed.

To ensure that the DML operations are not lost after the connection, the commit() method has to be invoked on the connection object.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
cur.execute( 'DELETE FROM Computer WHERE CompId = 100' )
print(cur.rowcount)
cur.close()
con.commit();
con.close()

Try out the code and observe the results.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
parameter = "100"
query = 'DELETE FROM Computer WHERE CompId = ' + parameter
cur.execute( query )
print(cur.rowcount)
cur.close()
con.commit();
con.close()

## Exception Handling:

mysql-connector module allows us to get details of the error code 

and error message that is generated by MySQL when the query executed has some errors. 

These details are stored in the mysql.connector.ProgrammingError class.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
try:
    cur.execute( 'INSERT FROM Computer_1 VALUES (100)' )
    con.commit()
except mysql.connector.ProgrammingError as e:
    print(e)
finally:
    con.close()

The above code has an error in the query. 

The output of the print statement is 1146 (42S02): Table 'yourdatabase.computer_1' doesn't exist. 

It is always a good practice to close connections in the finally block.

## Exception Handling:

Apart from the Oracle exceptions that can occur while executing an improper query, 

errors can also occur due to wrong usage of cx_Oracle module such as:

1. The cursor can be used only when the connection is established. Trying to use a cursor after closing the connection will lead to errors.

2. Trying to perform a cursor operation after closing the cursor will lead to error

3. Creating a cursor without a connection object will lead to an error.

<img src="db6.png">

The below code has error. Observe the output to understand what the error is and try to fix it.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
try:
    cur.execute( 'INSERT FROM Computer VALUES (100)' )
    con.commit()
except mysql.connector.ProgrammingError as e:
    print(e)
finally:
    con.close()

Modify the code to recreate other error scenarios previously discussed and observe the output.

## Select Query

Processing the result of a select query is different from the other DML statements. 

While execution, DML statements return number of rows affected, executing a select query returns the rows fetched by the query.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
cur.execute("SELECT * FROM Computer")
for row in cur:
    print(row)
cur.close()
con.close()

The return value of a select query is a list of rows and we can iterate row by row. 

Each row is represented as a tuple.

The column values retrieved from the query are converted from the MySQL data types to their equivalent Python datatypes.

For example, "Varchar2" is converted automatically to "string" in Python.

## Fetch methods:

Data from the result set of a select query can be retrieved using the fetch methods of cursor object. 

There are three fetch methods, 

1. **fetchone** - used to fetch one record from the result set
2. **fetchall** - used to fetch all the records from the result set
3. **fetchmany** - used to fetch multiple records from database. fetch many accepts a default parameter **number**. When passed, the method will fetch give number of record. Else, it will fetch only one record.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
cur.execute('SELECT * FROM Computer')
#print(cur.fetchone())
#print(cur.fetchall())
#print(cur.fetchmany())
#print(cur.fetchmany(2))
cur.close()
con.close()

Uncomment each comment and observe the results.

The following are the corresponding Python data types for MySQL datatypes

<img src = "dbDT.png">

When we get a row from the cursor, the individual elements of the row tuple relate to the individual columns. For example,

SELECT * FROM Computer

This selects all the 4 columns in the table. 

Hence each row extracted as a tuple will have four elements in it. 

The first column in the table will the first element in the tuple.

When we select only specific columns, for example,

SELECT Make,CompId FROM Computer

The row tuple will now have only two elements where the first element will be make and the second element will be compId.

Thus the order of elements in a tuple depends on the order of columns specified in the SELECT clause. 

If the column names are not specified the order of elements in the tuple depends on the order in which the columns are defined for the table in database


We can extract the individual columns from the row tuple in two ways:

In the first way, individual variable names are used for each value in the tuple:

In [ ]:
cur.execute("SELECT * FROM Computer")
for column1, column2, column3, column4 in cur:
    print(column3, column1)

Note: In the above example column1, column2, etc are actually Python variables. 

These names have no connection to the database.

In the second way the entire tuple is stored in a single Python variable:

In [ ]:
cur.execute("SELECT * FROM Computer")
for row in cur:
    print(row[2], row[0])

We can access individual columns by using the index position, which starts with zero.

## Select Query:

We have already seen that the column names in the query have no significance in the Python code.

The column values are converted into their equivalent Python data types.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
cur.execute('SELECT sum(Salary) AS sum FROM Employee')
for row in cur:
    print(row[0])
cur.close()
con.commit()
con.close()

In the above code, we are using an alias, but in the Python code, we are just interested in the value of the column and not the column name itself.

## Parameters in Query

Let us assume we have list of computer Id’s. 

We wish to print all the details of computers whose computer Id is present in the list.

A simpler approach would be to use a parameter in the query and place in the query inside a loop. 

For each loop, a different value is substituted for the parameter.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
list_of_Id = [100,101,103,104]
for id in list_of_Id:
    cur.execute( 'SELECT * FROM Computer WHERE CompId =', str(id) )
    for CompId, Make, Mdl, MYear in cur:
        print(Make, CompId)
cur.close()
con.close()

The problem with this approach is the query will be compiled by MySQL every time in the loop. 

If the loop runs 1000 times, then the query will be compiled by Oracle 1000 times leading to performance issues.

When we need to execute the same query repeatedly, but we just want to substitute the values each time, then we can use bind variables. 

They improve performance.

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
list_of_Id = [100,101,103,104]
for id in list_of_Id:
    cur.execute( "SELECT * FROM Computer WHERE CompId = %(c_id)s", {"c_id":id} )
    for CompId, Make, Mdl, MYear in cur:
        print(Make, CompId)
cur.close()
con.close()

Here c_id is the bind variable

## Bind in queries:

Bind variables are not Python variables. 

They are actually variables used in MySQL. 

They start with a percentage symbol.

<img src = "db7.png">

The mapping between the bind variables and Python variables are supplied through a dictionary. 

This dictionary has key as the bind variable and the corresponding value as the Python variable. 

The value of Python variable/value is substituted in MySQL bind variable and is then sent to MySQL.

## Bind variables in queries:

When we use bind variables, the MySQL database will reuse the query thus improving the performance. 

One caution in using bind for queries is that using bind variables will improve performance only if the query is executed repeatedly for the same connection. 

If the query is executed in a new connection every time, this will not improve the performance.

In [ ]:
import mysql.connector
list_of_Id = [100,101,103,104]
for id in list_of_Id:
    con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
    cur = con.cursor()
    cur.execute( "SELECT * FROM Computer WHERE CompId = %(c_id)s", {"c_id":id} )
    for CompId, Make, Mdl, MYear in cur:
        print(Make, CompId)
    cur.close()
    con.close()

In the above code, since the query is executed in a new connection every time, this will not improve the performance.

## Multiple operations

We can perform multiple operations in a single connection. 

Let us try to increment the year of all the ‘Dell’ computers by 1

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
cur.execute("SELECT CompId, MYear FROM Computer WHERE Make = 'Dell'")
for CompId, MYear in cur:
    new_year = int(MYear) + 1
    cur2 = con.cursor()
    cur2.execute( "UPDATE Computer SET MYear = %(year)s WHERE CompId = %(c_id)s", { 'year':new_year, 'c_id':CompId } )
cur.close()
con.commit()
con.close()

## Invoking Stored Functions:

Stored functions that are stored in the Database can also be invoked using execute method of cursor.

The required arguments can be passed by argument binding during the function call. 

The below is the Function definition.

DELIMITER //
CREATE FUNCTION Increase_by_100 (NUMBER INT) RETURNS INT
BEGIN
RETURN NUMBER+100;
END
//

The above function can be invoked from the python script as follows:

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
cur.execute('SELECT INCREASE_BY_100(%s)',[10])
print(cur.fetchone())

The return value of the function will be stored in the cursor object and can be fetched.

## Invoking Stored Procedures:

To Invoke a Stored Procedure, the callproc method of cursor should be used.

The arguments that are needed needs to be passed as a list in the second argument. 

This method will return another list similar to argument list which contains the changes to the OUT/INOUT arguments passed.

The following is the stored procedure definition:

CREATE PROCEDURE promotion_discount(IN DISCOUNT INT, INOUT PRICE INT)
BEGIN
SET PRICE=PRICE*(1-DISCOUNT/100)
END

The above procedure can be invoked as follows:

In [ ]:
import mysql.connector
con = mysql.connector.connect( host = 'host', user = 'username', passwd = 'password', database = 'database' )
cur = con.cursor()
args = [10,1000]
res = cur.callproc('promotion_discount', args)
print(res)

# Summary

- Connecting to a database using connect function of mysql.connector
- Creating a cursor to perform CRUD operations
- Executing Queries using Execute method of cursor
- Invoking Stored Procedure using **callproc** method of cursor

    **NOTE:** Connection to Oracle DB is also similar. We need to use cx_Oracle module to connect python script to Oracle database